body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;
  flex-direction: column;
  align-items: center;
  min-height:  100vh;
  background-color: #5cdb95;
  color: #edf5e1;
}

body, nav, .card, #noteContainer, #entryContainer, #buttonContainer, #entryArea, .card {
  display: flex;
}

nav, body {
  justify-content: center;
}

#entryContainer {
  width: 100%;
  justify-content: space-between;
}

img {
  width: 100px;
  height: 100px;
}

h1 {
  font-family: 'Enriqueta', arial, serif;
  line-height: 1.25;
  margin-right: 10px;
  font-weight: bold;
  font-size: 50px;
  color: #05386B;
}

#entryArea {
  flex-direction: column;
  justify-content: space-evenly;
  width: 50em;
}

#buttonContainer > button {
  background-color:  #05386B;
  color: #edf5e1;
  border: none;
  border-radius: 25px;
  width: 90px;
}

#buttonContainer > button:hover {
  background-color: #edf5e1ab;
  color: #05386B;
  transition: .5s;
  cursor: pointer;
}

#textbox {
  width: 60%;
  height: 100px;
  word-wrap: break-word;
}

input {
  border: #5cdb95;
  border-radius: 15px;
}

#buttonContainer {
  margin-left: 1em;
  gap: 1em;
}

#noteContainer {
  flex-wrap: wrap;
  padding: 20px;
  width: 90%;
  height: 60vh;
}

.card {
  flex-direction: column;
  justify-content: space-between;
  background: #edf5e1;
  color: black;
  margin: auto;
  padding: 20px;
  width: 20em;
  height: 10em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
            rgba(0, 0, 0, 0.19);
  word-wrap: break-word;
}

.card > h2 {
  color:#05386B;
  margin: 0%;
}

.card > p {
  max-width: 100%;
  max-height: 60%;

}

.card > button {
  width: fit-content;
  height: fit-content;
  color: red;
}

.card > button:hover {
  background-color: #FF6B6B;
  border: none;
  border-radius: 15px;
  color: #edf5e1;
}